extends layout

block content
  h1= title
  - let Nresults = [{vancolor:"blue",vanmodel:"honda",vanprice:"2000$"},{vancolor:"pink",vanmodel:"Kia",vanprice:"5000$"},{vancolor:"white",vanmodel:"tyota",vanprice:"62300$"}]
  div(class="container-fluid")
    div(class="row")
      each item,index in Nresults
        div(class="col-sm-2",onClick=`buy(${index})`)
          p color of the van is #{item.vancolor}
          p model of the van #{item.vanmodel}
          p Cost of the van is #{item.vanprice}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }  

